<!DOCTYPE html>
<html>
  <head>
    <title>Botao Perfil</title>
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <button
    class="flex-none pr-3 font-cairo justify-between text-black font-semibold"
  >
    <div class="dropdown dropdown-hover">
      <div
        tabIndex="{0}"
        role="button"
        class="btn-ghost rounded-box w-auto h-auto textarea-lg"
      >
        Perfil
      </div>
      <ul
        tabindex="{0}"
        class="dropdown-content dark:bg-slate-800 z-[1] menu p-2 shadow bg-slate-800 rounded-box w-auto h-auto justify-between text-white"
      >
        <li>
          <a href="/perfil" alt=""> Perfil </a>
        </li>
        <li>
          <a href="/sair" alt=""> Sair da conta </a>
        </li>
      </ul>
    </div>
  </button>
</html>
