<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mudar foto</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Caveat"
      rel="stylesheet"
    />
  </head>
  <body class="bg-white text-black">
    <div
      class="fonte-cairo grid grid-cols-1 mt-10 place-items-center space-y-4 font-semibold"
    >
      <img
        class="rounded-full w-40"
        alt="Tailwind CSS Navbar component"
        src="<%= usuario.imagemPerfil %>"
      />
      <div>
        <h4 class="text-3xl font-extrabold fonte-cairo text-black">
          Foto atual
        </h4>
      </div>
      <div>
        <form method="POST" className="mb-2" enctype="multipart/form-data">
          <input
            type="file"
            name="fotoperfilnova"
            id="fotoperfilnova"
            class="bg-[#ABEEFF] fonte-cairo font-semibold border border-[#00B6E3] text-dark sm:text-sm rounded-full xl:w-[100vh] p-1.5"
            required
          />
          <button
            type="submit"
            class="text-1xl hover:bg-[#405458] bg-[#002660] border-white text-white border-4 rounded-full w-32 h-12"
          >
            Mudar foto
          </button>
        </form>
        <div class="mt-10 grid grid-cols-1 justify-items-center">
          <a href="/perfil">
            <button
              class="text-[#57ACC1] text-md text-center hover:bg-[#003A49] bg-white border-[#57ACC1] border-4 w-40 h-11"
            >
              Voltar atrás
            </button>
          </a>
        </div>
      </div>
      <div className="mt-5 mb-5"></div>
    </div>
  </body>
</html>
