<!DOCTYPE html>
<html>
  <head>
    <title>Primaria</title>
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Caveat"
      rel="stylesheet"
    />
  </head>
  <body class="bg-[#86E2F9] h-screen">
    <div>
      <!-- <Navbar /> -->
    </div>
    <div class="text-center font-bold">
      <div
        class="texto-housedream xl:text-9xl md:text-8xl sm:text-6xl text-5xl"
      >
        HOUSE DREAM
      </div>
    </div>
    <div>
      <img
        class="pt-[4vh] ml-auto mr-auto xl:w-[60vh] md:w-[55vh] sm:w-[60vh]"
        src="../images/logo.png"
        alt="logo"
      />
    </div>
    <div
      class="font-bold text-white mt-3 text-2xl text-center xl:flex justify-center xl:text-5xl xl:space-x-32 lg:flex justify-center lg:space-x-32 lg:text-5xl md:flex justify-center md:space-x-32 md:text-5xl sm:flex justify-center sm:text-4xl"
    >
      <a href="/entrar">
        <button
          class="hover:bg-[#003A49] bg-[#2894B0] border-4 rounded-full w-72 h-20"
        >
          ENTRAR
        </button>
      </a>
      <a href="/registar">
        <button
          class="mt-10 xl:mt-0 lg:mt-0 md:mt-0 sm:mt-0 hover:bg-[#003A49] bg-[#2894B0] border-4 rounded-full w-72 h-20"
        >
          REGISTAR
        </button>
      </a>
    </div>
  </body>
</html>
